
*.vsidx
*.ipch
LifeTrack/.vs/LifeTrack/v17/.suo
LifeTrack/.vs/LifeTrack/v17/Browse.VC.db
LifeTrack/.vs/LifeTrack/v17/fileList.bin
LifeTrack/LifeTrack/x64/Debug/LifeTrack.tlog/CL.command.1.tlog
LifeTrack/LifeTrack/x64/Debug/LifeTrack.tlog/Cl.items.tlog
LifeTrack/LifeTrack/x64/Debug/LifeTrack.tlog/CL.write.1.tlog
LifeTrack/LifeTrack/x64/Debug/LifeTrack.tlog/CL.read.1.tlog
LifeTrack/LifeTrack/x64/Debug/LifeTrack.tlog/LifeTrack.lastbuildstate
LifeTrack/LifeTrack/x64/Debug/LifeTrack.tlog/LifeTrack.write.1u.tlog
LifeTrack/LifeTrack/x64/Debug/LifeTrack.tlog/link.command.1.tlog
LifeTrack/LifeTrack/x64/Debug/LifeTrack.tlog/link.read.1.tlog
LifeTrack/LifeTrack/x64/Debug/LifeTrack.tlog/link.write.1.tlog
LifeTrack/LifeTrack/x64/Debug/LifeTrack.tlog/moc.read.1u.tlog
*.tlog
